#box{
    position: absolute;
width: 300px;
height: 84px;
left: 30px;
top: 354px;

background: #FFFFFF;
border: 0.5px solid #35C5F3;
box-sizing: border-box;
box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.05);
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);
}