#security-text {
  position: absolute;
  width: 94px;
  height: 28px;
  left: 133px;
  top: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

#create-password-text {
  position: absolute;
  width: 167px;
  height: 23px;
  left: 40px;
  top: 258px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #35c5f3;
}

#checkbox {
  position: absolute;
  left: 2.39%;
  right: 86.67%;
  top: 72.17%;
  bottom: 22.83%;
}
#terms {
  position: absolute;
  width: 200px;
  height: 14px;
  left: 80px;
  top: 447px;

  /* identical to box height */

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
#term-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

#create-button {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 30px;
  top: 510px;

  background: #35c5f3;
  border-radius: 4px;
}

#create-text {
  /* position: absolute;
width: 47px;
height: 19px;
left: 157px;
top: 526px; */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

#profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#wallet-address {
  display: flex;
  width: 146px;
  height: 30px;
  left: 80px;
  top: 20px;
  background: linear-gradient(90deg, #e20880 0%, #674c9f 52.75%, #35c5f3 100%);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
}

#logo {
  width: 22px;
  height: 24px;

  background: url('../../assests/logo_1\ 1epns.svg');
}

#settings {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  background: url('../../assests/settings.png');
}

#feedItem {
  width: 300px;
  height: 166px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px 20px 0px;
  border-radius: 4px;
}

#feedHeader {
  width: 300px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  /* border: 1px solid black; */
  border-bottom-width: 1px;
  border-radius: 4px;
}

#channelIcon {
  width: 40px;
  height: 40px;
}

#channelHeader {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  width: 70%;
}

#line {
  /* position: absolute; */
  width: 248px;
  height: 0px;
  /* left: 82px;
top: 113px; */

  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

#bottom {
  display: flex;
  justify-content: flex-end;
}

#feedBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height */
  justify-self: center;
  color: rgba(0, 0, 0);
}

#body {
  margin-top: 10px;
}

#message {
  margin-top: 10px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 10px 0px 10px;
  text-align: center;
  padding: 0px 20px 0px 20px;
}
#cross {
    cursor: pointer;
    margin-left: 230px;
    /* top: 11px; */
    height: 20px;
    width: 20px;
    color: white;
    background-color: #674c9f;
    border-radius: 50%;
    /* left: 16px; */
    display: block;
}
#X{
    padding-left: 6px;
    /* scroll-padding-inline: 22px; */
    font-weight: bolder;
    padding-top: 3px;
    padding-top: 3px;
    display: block;

}
#channelSecret {
  width: 10px;
  height: 10px;
}
#switch-button {
  position: absolute;
  width: 206px;
  height: 50px;
  /* left: 30px;
    top: 510px; */
  left: 28px;
  top: 83px;
  background: #674c9f;
  border-radius: 4px;
}

#switch-button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
#model-div {
  width: 260px;
  height: 300px;
  position: absolute;

  top: 123px;
  left: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* background-color: #000000; */
  z-index: 1;
  border-style: solid;
  border-width: thin;
  /* background-color: rgba(0, 0, 0, 0.25); */
}
