.wallet-text {
  font-size: 16px;
  color: #657795;
  /* font-weight: bolder; */
  margin-left: 20px;
  font-weight: 700;
}


.icon-hover {
  margin-left: auto;
}
.icon-hover:hover {
  background-color: #e5e7eb;
  border-radius: 100%;
  font-weight: bolder;
  cursor: pointer;
}

.top-bar {
  width: 320px;
  height: 66px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f3f5;
}

.wallet-decription-text {
  position: absolute;
  width: 320px;
  height: 28px;
  left: 30px;
  top: 80px;
  font-size: 13px;
  line-height: 1.3;
  color: #657795;
}

.label-field {
  position: absolute;
  width: 320px;
  height: 28px;
  left: 30px;
  top: 120px;
  display: flex;
  flex-direction: column;
}

.label-field label {
  color: #657795;
  font-size: 14px;
  margin-top: 1rem;
  font-weight: bolder;
}
.text-body{
  width: 270px;
  margin-top: 10px;
  outline: none;
  border: none;
  color: #657795;
  padding: 15px 15px;
  background-color: #F4F5FA;
  border-radius: 15px;
  min-height: 35px;
  overflow: hidden;
  resize: none;
}

.text-body:focus { 
  border: 1.5px solid #f2f3f6;
 } 
.error-message {
  color: #ef4444;
  position: absolute;
  width: 100%;
  height: 28px;
  left: 30px;
  top: 235px;
  font-size: 13px;
}

#epns-text {
  font-family: 'Strawford' !important;;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  top: 3px;
  display: inline-block;
  color: #000000;
}

.notification-text {
  color: #e20880;
}

#input {
  left: 31px;
  top: 316px;
}

#verify-button {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 30px;
  top: 510px;

  background: #e20880;
  border-radius: 4px;
  color: white;
}

#cancel-button {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 190px;
  top: 510px;
  cursor: pointer;
  border: 1px solid #e20880;
  box-sizing: border-box;
  border-radius: 4px;
  color: #e20880;
  background: white;
}
#wallet-logo {
  position: absolute;
  width: 67px;
  height: 50px;
  left: 275px;
  top: 32px;
  z-index: 4;
  background: url("../../assests/wallet\ 1.png");
}

.button-verify {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 30px;
  top: 520px;
  border: none;
  color: red;
  background: #e20880;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.button-disabled {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 30px;
  top: 520px;
  border: none;
  /* color: red; */
  background-color: #e2e8f0;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
