#circle3-center {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 94px;
  top: 126.28px;

  background: linear-gradient(180deg, #674C9F 0%, rgba(103, 76, 159, 0) 100%);
transform: matrix(-0.09, -1, -1, 0.09, 0, 0);
  border-radius: 50%;
  z-index: 1;
}
