.icon-topbar{
  cursor: pointer;
  position: relative;
  top: 4px;
  left: 10px;
}

.actual-image{
  cursor: pointer;
  width: 40px;
  margin: auto;
}

#create-password-text {
  position: absolute;
  width: 167px;
  height: 23px;
  left: 40px;
  top: 258px;

  font-family: 'Strawford' !important;;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #35c5f3;
}

#checkbox {
  position: absolute;
  left: 2.39%;
  right: 86.67%;
  top: 72.17%;
  bottom: 22.83%;
}
#terms {
  position: absolute;
  width: 200px;
  height: 14px;
  left: 80px;
  top: 447px;
  /* identical to box height */
  font-family: 'Strawford' !important;;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
#term-text {
  font-family: 'Strawford' !important;;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

#create-button {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 30px;
  top: 510px;

  background: #35c5f3;
  border-radius: 4px;
}

#create-text {
  font-family: 'Strawford' !important;;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #ffffff;
}

.profile-image {
  border: 2px solid #027DD4;
  /* padding: 3px; */
  border-radius: 100%;
  cursor: pointer;
}
.blocky{
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0.85);
  outline-color: rgba(225,225,225,0.2);
}

.check-wallet-address {
  display: flex;
  position: relative;
  width: 130px;
  height: 30px;
  left: 55px;
  /* top: 19px; */
  background: linear-gradient(90deg, #e20880 0%, #674c9f 52.75%, #35c5f3 100%);
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}

#logo {
  width: 22px;
  height: 24px;
  background: url('../../assests/logo_1\ 1epns.svg');
}

#settings {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  background: url('../../assests/settings.png');
}

.feedItem {
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #f2f2f2;
}

.feedHeader {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  height: auto;
}

.channelIcon {
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  left: -4px;
  top: 1px;
}

.channelImage {
  width: 2.5rem;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  border: 3px solid #D1D5DB;;
}

.channelHeader {
  font-size: 13px;
  color: #fff;
  width: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin-top: 8px;
  background-color: #674c9f;
  margin-bottom: 1rem;
  width: fit-content;
}

#line {
  position: absolute;
  width: 297px;
  height: 0px;
  left: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

#bottom {
  display: flex;
  justify-content: flex-end;
}

.feedBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading{
  display: flex;
  flex-direction: row;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.loadinging {
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
  /* align-items: center; */
  justify-content: center;
}

.channelBody {
  width: 300px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.channelTitle {
  font-size: 14px;
  color: #657795;
}

.channelMessage {
  font-size: 12px;
  margin-left: 7px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.channelNew {
  color: #6B7280;
}

.channelNew b {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.channelNew div {
margin-left: 20px;
color: #657795;
}

.mr-2{
  margin-right: 5px;
}

.channelTime{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #6B7280;
  margin-top: .5rem;
}

.channelMessage b {
  text-transform: uppercase;
  font-weight: bold;
}

#cross {
  position: absolute;
    cursor: pointer;
    top: 40px;
    height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    left: 290px;
    display: block;
    z-index: 3;
}

#X{
  position: absolute;
  top: -40px;
    padding-left: 0px;
    font-weight: bolder;
    padding-top: 3px;
    display: block;
    cursor: pointer;
}

#channelSecret {
  width: 10px;
  height: 10px;
}
.icon{
  margin-left: 15px;
}
.switch-button {
  width: 100%;
  background-color: transparent;
  border:none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.switch-button:hover {
  background: rgba(0, 0, 0, 0.2);
}


.switch-button:nth-child(1){
  border-top: 0.8px solid #525252; 
  margin-top: 30px;
}


.switch-button-text {
  color: white;
 font-size: 15px; 
 margin-left: 20px;
}

.line{
  position: relative;
  top: 40px;
  border: 1px solid rgb(154, 153, 153);

}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 999;
}

.overlay {
  background: rgba(49, 49, 49, 0.3);
  overflow: hidden;

}

.empty-body {
  position: absolute;
  top: 100px;
}
.illustration{
  width: 100%;
  display: flex;
  justify-content: center;
}
.icon-empty{
  position: absolute;
  top: 220px;
  margin: 0 auto;;
}

.description-texts {
  position: absolute;
  width: 300px;
  height: 42px;
  left: 30px;
  top: 390px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #6b7280;
  text-align: center;
}
.description-texts span {
font-weight: bold;
font-size: 14px;
}

.twin-button{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #E5E7EB;
  width: 300px;
  margin: 10px auto 0 auto;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  align-items: center;
}
.twin-button .regular {
  border: none;
  background-color: white;
  padding: 0.6rem;
 width: 150px;  
 border-radius: 7px;
 color: #6b7280;
 box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
 height: 100%;
 cursor: pointer;
}
.twin-button .none {
  width: 150px;
  border:none;
  color: #6b7280;
  background-color: transparent;
  text-decoration: none;
  font-size: 12px;
  height: auto;
  padding: 0.6rem;
  cursor: pointer;
}

.no-item {
  width: max-content;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 50px auto;
  background-color: #f4f5fa;;
  color: #657795;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px;
}

.new-space{
  flex: 1;
  align-self: stretch;
  padding: 5px 30px;
}
