#wallet-text {
  position: absolute;
  width: 169px;
  height: 28px;
  left: 96px;
  top: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

#wallet-decription-text {
  position: absolute;
  width: 320px;
  height: 28px;
  left: 30px;
  top: 258px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

#epns-text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
top: 3px;
    display: inline-block;
color: #000000;
}

#notification-text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
margin-left: 4px;
color: #E20880;
}

#input{
    /* position: absolute; */
/* width: 300px;
height: 100px; */
left: 31px;
top: 316px;

/* border: 0.5px solid #000000;
box-sizing: border-box;
border-radius: 4px; */
}

#verify-button{
    position: absolute;
width: 140px;
height: 50px;
left: 30px;
top: 510px;

background: #E20880;
border-radius: 4px;
color:white
}

#cancel-button{
    position: absolute;
width: 140px;
height: 50px;
left: 190px;
top: 510px;
cursor: pointer;
border: 1px solid #E20880;
box-sizing: border-box;
border-radius: 4px;
color:#E20880;
background:white;
}
#wallet-logo{
    position: absolute;
width: 67px;
height: 50px;
left: 275px;
top: 32px;
z-index: 4;
background: url("../../assests/wallet\ 1.png");
}