body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Strawford' !important;
}

*{
  font-family: 'Strawford' !important;
}

@font-face {
  font-family: 'Strawford';
  src: url('assests/fonts/Strawford-Regular.otf');  
}



.bold-font {
  font-family: "Strawford";
  font-weight: bold;
}

.regular-font {
  font-family: "Strawford";
  font-weight: bold;
}

.regular {
  font-family: "Strawford";
}
.hover-effect:hover {
  opacity: 0.8;
}

.standard-size{
  width: 360px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.standard{
  width: 360px;
  height: 600px;
  overflow-y: unset;
  overflow-x: hidden;
}

.standard-page{
  width: 360px;
  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex; 
  flex-direction: column;
}

.feed-content {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  align-self: stretch;
  display: flex; 
  flex-direction: column;

}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/*
 *  SCROLL STYLES - https://codepen.io/GhostRider/pen/GHaFw
 */
/* Secondary */
::-webkit-scrollbar-track {
	background-color: #EEE;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #EEE;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left top,
									   left bottom,
									   color-stop(0.44, #35c5f3),
									   color-stop(0.72, #35b0f3),
									   color-stop(0.86, #35a1f3));
}

