.box {
  position: absolute;
  width: 300px;
  height: 84px;
  left: 30px;
  top: 320px;
  background: #ffffff;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: #657795;
}

.link-page {
  position: absolute;
  width: 300px;
  height: 84px;
  left: 30px;
  top: 485px;
  color: #657795;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
}
.link-home {
  color: #e20880;
  text-decoration: none;
}
.link-home:hover {
  text-decoration: underline;
}
